<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.hwr_berlin.rp5000">

    <!-- Persmissions -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>

    <application
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="de.hwr_berlin.lifepartner.HomeScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="de.hwr_berlin.lifepartner.SettingsActivity"
            android:label="@string/activity_settings"
            android:parentActivityName="de.hwr_berlin.lifepartner.HomeScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hwr_berlin.rp5000.HomeScreen"/>
        </activity>
        <activity
            android:name="de.hwr_berlin.lifepartner.PhoneActivity"
            android:label="@string/activity_phone"
            android:parentActivityName="de.hwr_berlin.lifepartner.HomeScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hwr_berlin.lifepartner.HomeScreenActivity"/>
        </activity>
        <activity
            android:name="de.hwr_berlin.lifepartner.SmsActivity"
            android:label="@string/title_activity_sms"
            android:parentActivityName="de.hwr_berlin.lifepartner.HomeScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hwr_berlin.lifepartner.HomeScreenActivity"/>
        </activity>
        <activity
            android:name="de.hwr_berlin.lifepartner.CameraActivity"
            android:label="@string/title_activity_camera"
            android:parentActivityName="de.hwr_berlin.lifepartner.HomeScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hwr_berlin.lifepartner.HomeScreenActivity"/>
        </activity>
        <activity
            android:name="de.hwr_berlin.lifepartner.IntroActivity"
            android:label="@string/title_activity_intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="de.hwr_berlin.lifepartner.AppManagerActivity"
            android:label="@string/title_activity_app_manager"
            android:parentActivityName="de.hwr_berlin.lifepartner.HomeScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hwr_berlin.lifepartner.HomeScreenActivity"/>
        </activity>
        <activity
            android:name="de.hwr_berlin.lifepartner.SosActivity"
            android:label="@string/title_activity_sos"
            android:parentActivityName="de.hwr_berlin.lifepartner.HomeScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hwr_berlin.lifepartner.HomeScreenActivity"/>
        </activity>
    </application>

</manifest>
