<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hwr_berlin.rp5000">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:configChanges="orientation|keyboardHidden|screenSize">
        <activity
            android:name="de.hwr_berlin.lifepartner.HomeScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.hwr_berlin.lifepartner.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="de.hwr_berlin.lifepartner.HomeScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hwr_berlin.rp5000.HomeScreen" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.READ_SMS" />

</manifest>
